@font-face {
    font-family: 'MullerBold';
    src: url('fonts/MullerBold.woff2') format('woff2'), url('fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MullerBold';
    src: url('fonts/MullerLight.woff2') format('woff2'), url('fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MullerRegular';
    src: url('fonts/MullerRegular.woff2') format('woff2'), url('fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MullerMedium';
    src: url('fonts/MullerMedium.woff2') format('woff2'), url('fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}


/* Общее */

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: MullerRegular;
}

h1 {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

.btm {
    min-height: 40px;
    padding: 0 14px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #CC9933;
    border-radius: 12px;
    transition-property: background-color, color, translate;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

html .btm:hover {
    background-color: #FFCC66;
    color: #333333;
}

html .btm:active {
    transform: translateY(1px);
}

a {
    text-decoration: none;
    transition: color 0.3s ease, color 0.2s linear;
}

a:hover {
    color: #FFCC66;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1;
    text-indent: 40px;
}

.input {
    background-color: #FFFFFF;
    height: 70px;
    color: #333333;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
}

.conteiner {
    width: 1170px;
    margin: auto;
}

select {
    min-width: 100px;
    padding: 3px 20px 3px 0;
    border-width: 0 0 2px 0;
    border-color: #358da1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input::placeholder {
    color: #BEBEBE;
}


/* Логотип */

.hedding-logo {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.head-tel {
    margin-right: auto;
    color: #666666;
    font-size: 22px;
    font-family: MullerBold;
}

.logo {
    margin-right: 19px;
}

.head-lcab {
    color: #CC9933;
}


/* Меню */

.hedding-navigation {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
}

.head-nav {
    display: flex;
}

.nav-link {
    color: #333333;
}

.head-nav-list:not(:last-child) {
    margin-right: 45px;
    margin-left: 20px;
}

.forma_search {
    display: flex;
    margin: 10px 20px 10px auto;
    width: 355px;
    border-radius: 15px;
    background-color: #F1F1F1;
    padding-right: 15px;
}

.button-search,
.head-search {
    border: none;
    outline: none;
    border-radius: 3px;
}

.head-search {
    padding-left: 10px;
    width: 355px;
    height: 50px;
    background-color: #f1f1f100;
}

.button-search {
    margin: auto;
    background-image: url("/img/search.svg");
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.button-search:before {
    content: url("\img\search.jpg");
    font-size: 20px;
    font-family: MullerBold;
}

w select::-ms-expand {
    display: none;
}

input[type="search"]::-ms-clear {
    display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.content-menu {
    display: flex;
    flex: 0 0 calc(100%/2 - 20px);
    margin-top: 55px;
}

.recerv-imput {
    display: inline-block;
    width: 518px;
    margin-bottom: 25px;
    text-indent: 20px;
}

.reserv-btmbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.reserv-btm {
    padding: 20px 25px;
    background-color: #CC9933;
    color: #FFFFFF;
}

.reserv-link {
    margin-left: 30px;
    margin-right: 5px;
    color: #CC9933;
}

.reserv-other {
    color: #999999;
}

.commercial {
    margin-left: auto;
}

.commercial-body {
    position: relative;
    width: 595px;
}

.commer-img {
    position: absolute;
}

.commer-text {
    position: relative;
    top: 260px;
    left: 45px;
}

.commercial-body-heading {
    margin: 0;
    width: 50%;
    font-size: 66px;
    font-family: MullerBold;
    color: #FFFFFF;
    line-height: 55px;
}

.commer-price {
    display: inline-block;
    margin-top: 50px;
    font-size: 35px;
    color: #FFFFFF;
}

.commer-other {
    margin-left: 60px;
    color: #FFCC66;
}

.decrep-head {
    margin-top: 65px;
}

.dcrp-text {
    width: 73%;
    margin-left: 40px;
    color: #666666;
    line-height: 30px;
}

.srv-kart-top {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.srv-list:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 20px;
}

.srv-list:nth-child(2n) {
    margin-left: 25px;
}

.srv-list {
    border-radius: 10px;
    max-width: 570px;
    min-height: 325px;
    background-color: #FFFFFF;
}

.srv-list::nth-last-of-type(2n) {
    margin-left: auto;
}

.srv-img {
    margin-bottom: 40px;
    border-radius: 10px;
}

.srv-link {
    margin-left: 40px;
    line-height: 32px;
    font-size: 22px;
    font-family: MullerMedium;
    color: #CC9933;
}

.srv-other {
    margin-top: 15px;
    margin-left: 40px;
    line-height: 32px;
    width: 65%;
    color: #333333;
}


/* Преимущества */

.advg-kart {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.advg-list:not(:nth-child(4n+1)):not(:nth-child(1)) {
    margin-left: 20px;
}

.advg-list:nth-child(n+5) {
    margin-top: 25px;
}

.advg-list {
    margin-top: 20px;
    min-height: 275px;
    width: 275px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.advg-icon {
    margin-left: 45px;
    margin-top: 45px;
}

.advg-text {
    margin-left: 45px;
    margin-right: 45px;
    width: 190px;
    line-height: 32px;
    color: #333333;
}


/* Размещение*/

.accom-kart {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 0;
}

.acomm-list:nth-child(n+4) {
    margin-top: 25px;
}

.acomm-list:not(:nth-child(3n+1)):not(:nth-child(1)) {
    margin-left: 20px;
}

.acom-text {
    display: inline-block;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 0;
    line-height: 32px;
    color: #969696;
}

.acom-box {
    display: flex;
    align-items: flex-start;
}

.acomm-list {
    min-height: 440px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.acomm-star {
    position: absolute;
    margin-top: 40px;
    margin-left: 235px;
}

.acomm-btm {
    margin-top: 25px;
    margin-left: 45px;
}

.acomm-taxt-black {
    color: #333333;
}

.acomm-text-big {
    font-size: 22px;
}

.acomm-end {
    position: relative;
}

.acomm-end:hover {
    cursor: pointer;
}

.acomm-link {
    position: absolute;
    top: 360px;
    left: 35px;
    font-family: MullerMedium;
    font-size: 22px;
    color: #FFFFFF;
}

.acomm-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.acomm-img {
    border-radius: 12px;
}

.acomm-img-end {
    height: 100%;
    object-fit: cover;
}


/*контакты*/

.contact-head {
    margin-top: 70px;
}

.contact {
    display: flex;
}

.contact-box {
    margin-top: 30px;
    padding: 45px;
    height: 620px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.contact-pad {
    border-bottom: 1px solid #CCCCCC;
    font-size: 22px;
    font-family: MullerBold;
    line-height: 32px;
}

.contakt-dan {
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
}

.contact-tel {
    color: #CC9933;
    line-height: 24px;
}

.contact-list {
    width: 470px;
}

.padingoff {
    margin: 0;
}

.contact-btm {
    margin-top: 45px;
    padding: 25px 30px;
    color: #CC9933;
    font-family: MullerBold;
}

.write {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contact-write {
    margin-bottom: 45px;
}

.write-cilum {
    width: 340px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.write-messege {
    height: 110px;
    padding-bottom: 85px;
}

.write-btm {
    padding: 25px;
    background-color: #CC9933;
    color: #FFFFFF;
}


/*Футер*/

.footer {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
}

.footer-box {
    position: absolute;
}

.img-foot {
    position: relative;
    border-radius: 12px;
}

.footer-box-flex {
    display: flex;
}

.footer-kart {
    margin-left: 50px;
    margin-top: 45px;
    width: 280px;
    color: #FFFFFF;
    line-height: 32px;
}

.footer-list {
    margin-bottom: 30px;
}

.footer-list-link {
    color: #CC9933;
}

.contact-date {
    margin-left: 140px;
    margin-top: 25px;
    width: 350px;
    color: #FFFFFF;
    line-height: 32px;
}

.contact-date-list {
    margin-bottom: 30px;
}

.socseti {
    display: flex;
    flex-direction: column;
    margin-left: 270px;
    margin-top: 40px;
}

.social__link {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.social__link--td {
    background-image: url("/img/tripadvisor.svg");
}

.social__link--tw {
    background-image: url("/img/twitter.svg");
}

.social__link--fb {
    background-image: url("/img/facebook.svg");
}

.social__link--vk {
    background-image: url("/img/social.svg");
}

.social__link--gg {
    background-image: url("/img/google-plus-social-logotype.svg");
}